var express = require('express');
    var app = express,
    port = process.env.PORT || {{ app_port }};
// etc app config setup
// setup mongodb username and pass using the same handlebar method {{ varname }}